<div class="counter-container">
  <div class="wrapper-content">
    <div class="card p-4">
      <div class="counter-section mb-3">
        <h3 class="mb-3">Counter</h3>
        <div class="counter-text">{{count}}</div>
      </div>
      <div class="btn-section">
        <button class="btn btn-success" (click)="increment()">+ Increment</button>
        <button class="btn btn-danger" [disabled]="!count" (click)="decrement()">- Decrement</button>
        <button class="btn btn-secondary" [disabled]="!count" (click)="reset()">Reset</button>
      </div>
    </div>
    <app-counter-history [counterHistory]="counterHistory" (resetHistory)="resetHistory()"></app-counter-history>
  </div>
</div>